<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">




    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body,
        html {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 10px;
            height: 100vh;
            width: 100vw;
            box-sizing: border-box;
            padding: 10px;
        }

        .grid-item {
            border: 1px solid #ccc;
            padding: 10px;
            overflow: auto;
            background-size: cover;
            background-position: center;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            font-size: 0.8em;
            /* Reduce font size */
        }

        .grid-item table.dataTable {
            font-size: 1.0em;
            /* Reduce font size */
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button {
            padding: 0.2em 0.5em;
            /* Reduce pagination button size */
        }

        .dataTables_wrapper .dataTables_length select,
        .dataTables_wrapper .dataTables_filter input {
            height: 1.2em;
            /* Adjust input height */
            font-size: 0.8em;
            /* Adjust input font size */
        }

        .dataTables_wrapper .dataTables_info {
            font-size: 0.8em;
            /* Adjust info font size */
        }


        .grid-item {
        position: relative;
        background-size: cover;
        background-position: center;
        background-blend-mode: darken; /* Mezcla la imagen de fondo con el color */
        background-color: rgba(0, 0, 0, 0.5); /* Ajusta el color y la opacidad para atenuar */
    }


        .quadrant-1 {
            background-image: url('./img/forma_farma.PNG');
        }

        .quadrant-2 {
            background-image: url('./img/forma_farma1.PNG');
        }

        .quadrant-3 {
            background-image: url('./img/forma_farma2.PNG');
        }

        .quadrant-4 {
            background-image: url('./img/forma_farma3.PNG');
            
        }

        .quadrant-1 h4 {
            color: #77f0ee;
            /* Color para el primer cuadrante */
        }

        .quadrant-2 h4 {
            color: #77f0ee;
            /* Color para el segundo cuadrante */
        }

        .quadrant-3 h4 {
            color: #77f0ee;
            /* Color para el tercer cuadrante */
        }

        .quadrant-4 h4 {
            color: #77f0ee;
            /* Color para el cuarto cuadrante */
        }
    </style>

    <title>Document</title>
</head>

<body>
    <div class="grid-container">
        <!-- Quadrant 1 -->
        <div class="grid-item quadrant-1">
            <h4>Gestionar Concentracion</h4>
            <form id="form1" class="row g-3 needs-validation" novalidate action="/guardar_pas" method="POST">
                <div class="col-md">

                    <input type="text" class="form-control" placeholder="Reg Nac" id="dni1" name="dni" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="col-md">

                    <input type="text" class="form-control" placeholder="Nombre Comercial" id="nombre_comercial1"
                        name="nombre_comercial" required>
                    <div class="valid-feedback"></div>
                </div>
                <div class="col-md">

                    <div class="input-group has-validation">
                        <input type="text" class="form-control" placeholder="Nombre Generico" id="nombre_generico1"
                            name="nombre_generico" required>
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-dark" type="submit">Guardar Concentracion</button>
                    <a type="button" href="/altaBorrado" class="btn btn-dark">Alta Borrados</a>
                    <a type="button" href="/" class="btn btn-dark">Volver</a>
                    <a type="button" href="logout" class="btn btn-danger">Logout</a>
                </div>
            </form>
            <table id="datatable1" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Id Concentracion</th>
                        <th>Concentracion</th>
                   
                    </tr>
                </thead>
                <tbody>
                    <!-- Data for table 1 -->
                   
                </tbody>
            </table>
        </div>

        <!-- Quadrant 2 -->
        <div class="grid-item quadrant-2">
            <h4>Gestionar Forma Farmacologica</h4>
            <form id="form2" class="row g-3 needs-validation" novalidate action="/guardar_pas" method="POST">
                <div class="col-md">

                    <input type="text" class="form-control" placeholder="Reg Nac" id="dni1" name="dni" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="col-md">

                    <input type="text" class="form-control" placeholder="Nombre Comercial" id="nombre_comercial1"
                        name="nombre_comercial" required>
                    <div class="valid-feedback"></div>
                </div>
                <div class="col-md">

                    <div class="input-group has-validation">
                        <input type="text" class="form-control" placeholder="Nombre Generico" id="nombre_generico1"
                            name="nombre_generico" required>
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-dark" type="submit">Guardar Forma Far</button>
                    <a type="button" href="/altaBorrado" class="btn btn-dark">Alta Borrados</a>
                    <a type="button" href="/" class="btn btn-dark">Volver</a>
                    <a type="button" href="logout" class="btn btn-danger">Logout</a>
                </div>
            </form>
            <table id="datatable2" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Id Forma Far</th>
                        <th>Forma Fa</th>
                      
                    </tr>
                </thead>
                <tbody>
                    <!-- Data for table 2 -->
             
                </tbody>
            </table>
        </div>

        <!-- Quadrant 3 -->
        <div class="grid-item quadrant-3">
            <h4>Gestionar Familia</h4>
            <form id="form2" class="row g-3 needs-validation" novalidate action="/guardar_pas" method="POST">
                <div class="col-md">

                    <input type="text" class="form-control" placeholder="Reg Nac" id="dni1" name="dni" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="col-md">

                    <input type="text" class="form-control" placeholder="Nombre Comercial" id="nombre_comercial1"
                        name="nombre_comercial" required>
                    <div class="valid-feedback"></div>
                </div>
                <div class="col-md">

                    <div class="input-group has-validation">
                        <input type="text" class="form-control" placeholder="Nombre Generico" id="nombre_generico1"
                            name="nombre_generico" required>
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-dark" type="submit">Guardar Familia</button>
                    <a type="button" href="/altaBorrado" class="btn btn-dark">Alta Borrados</a>
                    <a type="button" href="/" class="btn btn-dark">Volver</a>
                    <a type="button" href="logout" class="btn btn-danger">Logout</a>
                </div>
            </form>
            <table id="datatable3" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Id Familia</th>
                        <th>Familia</th>
                    
                    </tr>
                </thead>
                <tbody>
                    <!-- Data for table 2 -->
                  
                </tbody>
            </table>
        </div>

        <!-- Quadrant 4 -->
        <div class="grid-item quadrant-4">
            <h4>Gestionar Presentacion</h4>
        
            <form id="form2" class="row g-3 needs-validation" novalidate action="/guardar_pas" method="POST">
                <div class="col-md">

                    <input type="text" class="form-control" placeholder="Reg Nac" id="dni1" name="dni" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="col-md">

                    <input type="text" class="form-control" placeholder="Nombre Comercial" id="nombre_comercial1"
                        name="nombre_comercial" required>
                    <div class="valid-feedback"></div>
                </div>
                <div class="col-md">

                    <div class="input-group has-validation">
                        <input type="text" class="form-control" placeholder="Nombre Generico" id="nombre_generico1"
                            name="nombre_generico" required>
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-dark" type="submit">Guardar Presentcion</button>
                    <a type="button" href="/altaBorrado" class="btn btn-dark">Alta Borrados</a>
                    <a type="button" href="/" class="btn btn-dark">Volver</a>
                    <a type="button" href="logout" class="btn btn-danger">Logout</a>
                </div>
            </form>
            <table id="datatable4" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Id Presentacion</th>
                        <th>Presentacion</th>
                      
                    </tr>
                </thead>
                <tbody>
                    <!-- Data for table 2 -->
                   
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>



    <script src="./js/preReseta.js"></script>




</body>

</html>

<!--   <form id="formLogin" class="row g-3 needs-validation" novalidate action="/guardar_prof" method="POST">




      </div>
      <div class="col-md">
        <label for="diagnostico" class="form-label">Diagnostico</label>
        <input type="text" class="form-control" id="diagnostico" name="diagnostico"
          value="<%= data.paciente[0].diagnostico %>" required>
        <div class="valid-feedback">

        </div>
      </div>
      <div class="col-md">
        <label for="indicacion" class="form-label">Indicacion</label>
        <div class="input-group has-validation">

          <input type="text" class="form-control" id="indicacion" name="indicacion"
            value="<%= data.paciente[0].indicacion %>" inputGroupPrepend" required>
          <div class="invalid-feedback">

          </div>
        </div>
      </div>
      <div class="col-md">
        <label for="fecha_pres" class="form-label">Fecha</label>
        <input type="text" class="form-control" id="fecha_pres" name="fecha_pres"
          value="<%= data.paciente[0].fecha_pres %>" required>
        <div class="invalid-feedback">

        </div>
      </div>


      </div>
      <div class="col-md">
        <label for="nombre_pas" class="form-label">Paciente</label>
        <input type="text" class="form-control" name="nombre_pas" id="nombre_pas" list="sugerenciasNombre_pas"
          value="<%= data.paciente[0].nombre_pas %>, <%=data.paciente[0].apellido_pas %> "" >
      <input type=" text" name="id_pas" id="id_pas" value="<%= data.paciente[0].id_pas %> "" >
      <datalist id=" sugerenciasNombre_pas"></datalist>


      </div>


      <br>
      <table>
        <thead>
          <tr>

            <th scope="col">N.GEN</th>
            <th scope="col">CONC</th>
            <th scope="col">PRES</th>
            <th scope="col">FAM</th>
            <th scope="col">FAR</th>
            <th scope="col">CONC</th>
            <th scope="col">PRES</th>
            <th scope="col">FAM</th>
            <th scope="col">FAR</th>
            <th scope="col">EVENTOS</th>

          </tr>
        </thead>
        <tbody>
          </thead>
        <tbody>
          <% if (data.medicamentos) { %>
            <% for (var i=data.medicamentos.length -1; i>= 0; i--){ %>
              <tr>

                <td>
                  <%= data.medicamentos[i].nombre_generico %>, <%= data.medicamentos[i].nombre_comercial %>
                </td>
                <td>
                  <%= data.medicamentos[i].concentracion %>
                </td>
                <td>
                  <%= data.medicamentos[i].presentacion %>
                </td>
                <td>
                  <%= data.medicamentos[i].familia %>
                </td>
                <td>
                  <%= data.medicamentos[i].forma_fa %>
                </td>
                <td>
                  <%= data.medicamentos[i].dosis %>
                </td>
                <td>
                  <%= data.medicamentos[i].frecuencia %>
                </td>
                <td>
                  <%= data.medicamentos[i].duracion %>
                </td>
                <td>
                  <%= data.medicamentos[i].cantidad %>
                </td>
                <td>
                  <a href="/updatePa/<%= data.paciente[0].id_pas %>" class="btn btn-outline-info">editar<%=
                      data.paciente[0].id_pas %></a>
                  <a href="/deletePa/<%= data.paciente[0].id_pas %>" class="btn btn-outline-danger">borrar<%=
                      data.paciente[0].id_pas %></a>
                </td>
              </tr>
              <% } %>
                <% } %>
        </tbody>
        </tbody>
      </table>
      <br>
      <table>
        <thead>
          <tr>
            <th scope="col">Id MEDI</th>
            <th scope="col">PRESTACION</th>

            <th scope="col">EVENTOS</th>
          </tr>
        </thead>
        <tbody>
          <% if (data.prestaciones) { %>
            <% for (var i=data.prestaciones.length -1; i>= 0; i--){ %>
              <tr>
                <td>
                  <%= data.id_prestac[i] %>
                </td>
                <td>
                  <%= data.prestaciones[i] %>
                </td>
                <td>
                  <a href="/updatePa/<%=  %>" class="btn btn-outline-info">editar</a>
                  <a href="/deletePa/<%= %>" class="btn btn-outline-danger">borrar</a>
                </td>
              </tr>
              <% } %>
                <% } %>
        </tbody>
      </table>
      <div class="col-12">
        <button class="btn btn-success" type="submit"> imprimir</button>

      </div>

    </form>                                                -->