<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
  <script src="../assets/js/color-modes.js"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <style>
    .dt-center {
      text-align: center;
    }

    .inactive {
      opacity: 0.5;
      /* Reduce la opacidad para hacer la fila menos prominente */
    }
  </style>
  <title>Mi Reseta</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>



<body class="d-flex align-items-center py-60   bg-body-secondary">
  <div></div>
  <main class="form-signin w-100 m-4">

    <div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./img/medi.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Registrar Medicamentos</h5>
              <p class="card-text"> </p>
              <p class="card-text"><small class="text-body-secondary">si tiene dudas puede buscarse primero</small></p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <form id="formLogin" class="row g-3 needs-validation" novalidate action="/guardar_pas" method="POST">


      <div class="col-md">
        <label for="dni" class="form-label">Reg Nac</label>
        <input type="text" class="form-control" id="dni" name="dni" required>
        <div class="invalid-feedback">
        </div>
      </div>

      <div class="col-md-2">
        <label for="nombre_comercial" class="form-label">Nombre Comercial</label>
        <input type="text" class="form-control" id="nombre_comercial" name="nombre_comercial" required>

        <div class="valid-feedback">

        </div>
      </div>
      <div class="col-md-2">
        <label for="nombre_generico" class="form-label">Nombre Generico</label>
        <div class="input-group has-validation">

          <input type="text" class="form-control" id="nombre_generico" name="nombre_generico" inputGroupPrepend"
            required>
          <div class="invalid-feedback">

          </div>
        </div>
      </div>
   
      <div class="col-md">
        <label for="alta_med" class="form-label">Alta Med</label>
        <select class="form-select" id="alta_med" name="alta_med" required>
          <option value=""> </option>
          <option>0</option>
          <option>1</option>

        </select>
      </div>

      

      <div class="col-md">
        <label for="concentracion" class="form-label">Concentracion</label>
        <input type="text" class="form-control" id="concentracion" name="concentracion" list="sugerenciasConcentracion" required>
        <datalist id="sugerenciasConcentracion"></datalist>
        <input type="hidden" id="id_concentracion" name="id_concentracion">
        <div class="invalid-feedback">

        </div>
      </div>

      <div class="col-md">
        <label for="familia" class="form-label">Familia</label>
        <input type="text" class="form-control" id="familia" name="familia" list="sugerenciasFamilia" required>
        <datalist id="sugerenciasFamilia"></datalist>
        <input type="hidden" id="id_familia" name="id_familia">
        <div class="invalid-feedback">

        </div>
      </div>
      <div class="col-md">
        <label for="presentacion" class="form-label">Presentacion</label>
        <input type="text" class="form-control" id="presentacion" name="familia" list="sugerenciasPresentacion" required>
        <datalist id="sugerenciasPresentacion"></datalist>
        <input type="hidden" id="id_presentacion" name="id_presentacion">
        <div class="invalid-feedback">

        </div>
      </div>



      <div class="col-12">
        <button class="btn btn-success" type="submit">Guardar Medicamento</button>
        <a type="button" href="/altaBorrado" class="btn btn-info">Alta Borrados</a>
        <a type="button" href="/" class="btn btn-warning">Volver</a>
        <a href="/atributos_med" type="button" class="btn btn-secondary">Atributos</a>
        <a type="button" href="logout" class="btn btn-danger">Logout</a>
      </div>
    </form>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar Pasiente</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body bg-body-secondary">
            <form id="formularioActualizar" method="POST">
              <div class="mb-3">
                <label for="nomEdit" class="col-form-label">Nombre</label>
                <input type="text" class="form-control" id="nomEdit" name="nomEdit">
              </div>
              <div class="mb-3">
                <label for="apellEdit" class="col-form-label">Apellido</label>
                <input type="text" class="form-control" id="apellEdit" name="apellEdit">
              </div>
              <div class="mb-3">
                <label for="dniEdit" class="col-form-label">Dni</label>
                <input type="text" class="form-control" id="dniEdit" name="dniEdit">
              </div>
              <div class="mb-3">
                <label for="fechaEdit" class="col-form-label">Fecha Nacimiento</label>
                <input type="date" class="form-control" id="fechaEdit" name="fechaEdit">
              </div>
              <div class="mb-3">
                <label for="sexoEdit" class="col-form-label">sexo</label>
                <input type="text" class="form-control" id="sexoEdit" name="sexoEdit">
              </div>
              <div class="col-md">

                <label for="tipo_obraE" class="form-label">Obra Social</label>
                <input type="text" class="form-control" id="tipo_obraE" name="tipo_obraE" list="sugerenciasNombre_obraE"
                  autocomplete="off" required>
                <datalist id="sugerenciasNombre_obraE"></datalist>
                <input type="hidden" id="id_planE" name="id_planE">



              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar Modificacion</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <table id="myTable" name="myTable" class="table table-striped" style="width:100%">

        <thead>
          <tr class="bg-primary text-white">
            <th scope="col">ID MED</th>
            <th scope="col">REG NAC</th>
            <th scope="col">NOMBE COMERCIAL</th>
            <th scope="col">NOMBRE GENERICO</th>
            <th scope="col">ALTA MED</th>
            <th scope="col">CONCENTRACION</th>
            <th scope="col">FORMA FARMA</th>
            <th scope="col">FAMILIA</th>
            <th scope="col">PRESENTACION</th>
            <th scope="col">MODIFICAR</th>
            <th scope="col">ELIMINAR</th>
          </tr>
        </thead>

        <tbody>

        </tbody>

      </table>
    </div>

  </main>












  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
  <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
  <script src="./js/medicamento.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <% if(alert){%>
    <script>
      Swal.fire({
        title: '<%= alertTitle %>',
        text: '<%= alertMessage %>',
        icon: '<%= alertIcon %>',
        showConfirmButton: '<%= showConfirmButton %>',
        timer: '<%= 3000 %>'
      }).then(() => {
        window.location = '/<%= ruta %>'
      })
    </script>
    <% } %>



</body>

</html>